h1 {
  font-size: 1.5em;
}

span {
  font-size: 1em;
  font-weight: bold;
}

.solo-box {
  width: 30%;
  height: 95%;
  border: 1px solid;
  padding: 20px;
  box-shadow: 5px 10px #888888;
  margin: auto;
  text-align: center;
}

ul {
  list-style-type: none;
}
